div.taskManagerContainer {
  font-family: Arial;
}

div.taskManagerContainer h3, div.taskManagerContainer h4 {
  padding-left: 4px;
}

div.taskManagerContainer h3 {
  font-size: 24px;
}

div.taskManagerContainer h4 {
  font-size: 20px;
}

div.taskManagerContainer h4 *:last-child {
  margin-left: 8px;
}

div.taskManagerContainer h3, div.taskManagerContainer div {
  margin: 8px 0;
}

div.taskManagerContainer div div input {
  margin: 4px;
}

div.taskManagerContainer button {
  margin-left: 4px;
  padding: 4px 8px;
}

div.taskManagerContainer p:last-child {
  text-align: center;
  padding-top: 8px;
}
